[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
pycodestyle = "*"
pytest = "*"
pylint = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
adafruit-circuitpython-ads1x15 = "*"
adafruit-circuitpython-lis3dh = "*"
adafruit-circuitpython-max31865 = "*"
gpiozero = "*"
pandas = "*"
"rpi.gpio" = "*"
click = "*"
adafruit-ads1x15 = "*"
exceptiongroup = "*"
